.airquotes-selected {
    background: #884;
}

.airquotes-preview-item {
    margin-top: 0.7em;
}

.airquotes-search-modal > .suggestion-item {
    border-left: 2px solid #ccc;
    margin-bottom: 15px;
}

.air-quotes-select-modal-desktop {
    width: 700px;
    top: 80px;
    position: absolute;
}

.air-quotes-select-modal-mobile {
    top: 0;
    max-height: 100vh !important;
}

.air-quotes-select-modal-mobile > .modal-content {
    overflow: visible !important;
}

.air-quotes-select-buttons {
    position: fixed;
    bottom: 0;
    height: 40px;
    display: flex;
    width: 100%;
}

.air-quotes-select-buttons button {
    width: 20%;
}
